<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>Official Partners</li>
          <li>FAQ</li>
          <li>Contact Us</li>
          <li>Download Our App</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
          <li>Cookies Policy</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Subscribe to Our Newsletter</h5>
        <form>
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Your email address"
              aria-label="Email"
              aria-describedby="subscribe-button"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-light"
                type="button"
                id="subscribe-button"
              >
                Subscribe
              </button>
            </div>
          </div>
        </form>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
