<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <%- include('navigation-landing.ejs') %>
    <div class="page-content page-no-sidebar">
      <div class="row flex-lg justify-content-end h-75 gx-0" id="landing-hero-text">
        <div class="col-md-6 py-5">
          <div class="col-md-6 text-center">
            <h1 class="display-3 fw-bold lh-1 mb-3">Welcome.</h1>
            <p class="lead">Unleash your culinary creativity at our recipe sharing haven. Explore a world of flavors, share your secret recipes, and connect with fellow food enthusiasts. Get ready to embark on a delicious journey with us!</p>
            <div class="mt-4">
              <a href="login" role="button" class="d-inline-block btn btn-primary btn-lg px-4 me-md-2">Get started!</a>
            </div>
          </div>
        </div>
        <p class="text-center">Scroll down to see the features of this site! <i class="fa-solid fa-angle-down" aria-hidden="true"></i></p>
      </div>

      <div class="container-lg">
        <div class="px-4 pt-5 my-5 text-center">
          <h2 class="display-4 fw-bold">Features</h1>
            
          <div class="row flex-lg-row-reverse align-items-center justify-items-around py-4 border-bottom">
            <div class="col-lg px-5">
              <p class="lead">Enjoy an extensive library of various recipes for people of all tastes and skill levels.</p>
            </div>
            <div class="col-lg">
              <img src="images/homepage-preview.png" class="img-fluid border rounded-3 shadow-lg" alt="category page preview">
            </div>
          </div>

          <div class="row flex-lg-row-reverse align-items-center justify-items-around py-4 border-bottom">
            <div class="col-lg px-5">
              <p class="lead">Simply filter our library of recipes by category to help you find the perfect recipe for the day.</p>
            </div>
            <div class="col-lg">
              <img src="images/sidebar-preview.png" class="img-fluid border rounded-3 shadow-lg" alt="category page preview">
            </div>
          </div>

          <div class="row flex-lg-row-reverse align-items-center justify-items-around py-4 border-bottom">
            <div class="col-lg px-5">
              <p class="lead">Never forget the source to a favourite recipe again. Easily keep a record of recipes you are interested in trying.</p>
            </div>
            <div class="col-lg">
              <img src="images/likespage-preview.png" class="img-fluid border rounded-3 shadow-lg" alt="category page preview">
            </div>
          </div>

          <div class="row flex-lg-row-reverse align-items-center justify-items-around py-4 border-bottom">
            <div class="col-lg px-5">
              <p class="lead">Share your original recipes with others in the community. Get feedback from fellow gastronomes and grow your own repertoire.</p>
            </div>
            <div class="col-lg">
              <img src="images/postrecipe-preview.png" class="img-fluid border rounded-3 shadow-lg" alt="category page preview">
            </div>
          </div>

          <div class="row flex-lg-row-reverse align-items-center justify-items-around py-4 border-bottom">
            <div class="col-lg px-5">
              <p class="lead">Unsure what to begin with? Try out the top ranked recipes. If you've uploaded an amazing recipe of your own as well, fellow community members may see your recipe on the leaderboards too.</p>
            </div>
            <div class="col-lg">
              <img src="images/leaderboard-preview.png" class="img-fluid border rounded-3 shadow-lg" alt="category page preview">
            </div>
          </div>
        </div>
      </div>
      <%- include('footer.ejs') %>
    </div>
  </body>
</html>