<article class="mb-4 border rounded shadow" style="border:1px solid #61876E">
    <div class="row g-0">
        <div class="col-4">
            <img src="images/<%= recipe.Image_Name %>.jpg" class="w-100 h-100 rounded object-fit-cover" alt="Recipe Image"/>
        </div>
        <div class="recipe-info col p-4 d-flex flex-column">
            <h2 class="recipe-title"><%= recipe.Title %></h2>
            <p class="recipe-author"> Author Name </p>
            <div class="d-flex justify-content-end mt-auto">
                <a href="recipe/<%= recipe.id %>" role="button" class="d-inline-block btn btn-primary">More...</a>
            </div>
        </div>
    </div>
</article> 
