<article class="mb-4">
    <div class="row g-0">
        <div class="likes col p-4 d-flex flex-column">
            <script src="/scripts/likes-content.js">
            </script>
            
            <button id="likeButton">Like</button> 


    
            
        </div> 
    </div>



</article>