<article
  class="mb-4 rounded shadow"
  style="border: 1px solid #61876e; width: 200px; height: 200px"
>
  <div class="row g-0">
    <div class="col-md-4">
      <a href="#">
        <div class="image-container position-relative">
          <img
            src="/images/sam-moghadam-khamseh-yxZSAjyToP4-unsplash.jpg"
            class="w-100 h-100 rounded object-fit-cover"
            alt="Recipe Image"
          />
          <div class="overlay"></div>
          <h2
            class="recipe-title text-light position-absolute bottom-0 start-0 p-3"
          >
            Recipe Name
          </h2>
        </div>
      </a>
      <p class="m-2">By: author name</p>
    </div>
  </div>
</article>
