<nav>
  <div class="navigation-bar">
    <div class="container-fluid">
      <div
        class="d-flex flex-wrap align-items-center justify-content-md-between p-1"
      >
        <div class="col d-flex align-items-center col-md-auto">
          <a href="/landing">
            <img
              src="/images/FoodHavenLogoPlusWords.png"
              width="180"
              class="ms-2"
              alt="Food Haven"
              style="padding-top: 0px; "
            />
          </a>
        </div>
        <ul class="nav col-md-auto d-flex align-items-center">
          <li class="nav-item">
            <a href="about-us" role="button" class="d-inline-block btn btn-transparent px-4 me-md-2">About Us</a>
          </li>
          <li class="nav-item">
            <a href="login" role="button" class="d-inline-block btn btn-primary px-4 me-md-2">Login</a>
          </li>
          <li class="nav-item">
            <a href="register" role="button" class="d-inline-block btn btn-transparent px-4 me-md-2">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
