<nav>
  <div class="navigation-bar">
    <div class="container-fluid">
      <div
        class="d-flex flex-wrap align-items-center justify-content-md-between p-1"
      >
        <div class="col d-flex align-items-center col-md-auto">
          <div class="burger-menu">
            <button href="#" class="rounded-pill border-0 nav-link px-2">
              <i class="bi bi-list" style="font-size: 1.5rem"></i>
            </button>
          </div>
          <a href="/">
            <img
              src="/images/FoodHavenLogoPlusWords.png"
              width="180"
              class="ms-2"
              alt="Food Haven"
              style="padding-top: 0px; "
            />
          </a>
        </div>
        <div
          class="col col-md-6 col-lg-5 d-none d-md-flex align-items-center justify-content-center"
        >
          <div class="input-group col-10" style="width: 90%">
            <input
              type="text"
              class="form-control border-2 rounded-pill rounded-end"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
              style="
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-color: #ced4da;
              "
            />
            <div class="input-group-append">
              <button
                class="input-group-text rounded-pill rounded-start border-2"
                id="search-addon"
                style="
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                  border-color: #ced4da;
                "
              >
                <i
                  class="bi bi-search"
                  style="
                    font-size: 1rem;
                    padding-right: 5px;
                    padding-bottom: 5px;
                  "
                ></i>
              </button>
            </div>
          </div>
        </div>

        <ul class="nav col-md-auto d-flex align-items-center">
          <li class="nav-item">
            <button href="#" class="rounded-pill border-0 nav-link px-2">
              <i class="bi bi-journal-plus" style="font-size: 1.5rem"></i>
            </button>
          </li>
          <li class="nav-item">
            <button href="#" class="rounded-pill border-0 nav-link px-2">
              <i class="bi bi-person-circle" style="font-size: 1.5rem"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
