<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <%- include('navigation.ejs') %> <%- include('sidebar.ejs') %>
    <div class="page-content page-no-sidebar">
      
        
    </div>

    <%- include('footer.ejs') %>
    <!-- page scripts -->
    <script src="/scripts/sidebar.js"></script>

  </body>
</html>
