<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <div class=" d-flex justify-content-end mt-2">
      <a href="landing" style="text-decoration: none; margin-right: 2%;">
        <p>Back</p>
      </a>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="col-md-8 col-lg-4" style="margin-top: -4%; ">
        <form action="/register" method="POST">
          <img
            src="/images/FoodHavenLogoBlack.png"
            class="img-fluid"
            alt="Sample image"
            style="width: 70%; margin: 0 15%;"
          />
          <!-- Name input -->
          <div class="form-outline mb-4 d-flex justify-content-end" style="margin-top: -4%; z-index: 2;">
            <div class="d-flex flex-column align-items-start">
              <label class="form-label fw-bold" for="firstname">First Name: </label>
              <input
                type="text"
                id="firstname"
                name="firstname"
                class="form-control form-control-lg"
                placeholder="Enter first name"
                required
              />
            </div>
            <div class="d-flex flex-column align-items-start" style="margin-left: 10px;">
              <label class="form-label fw-bold" for="lastname">Last Name: </label>
              <input
                type="text"
                id="lastname"
                name="lastname"
                class="form-control form-control-lg"
                placeholder="Enter last name"
                required
              />
            </div>
          </div>
          
          <!-- Username input -->
          <div class="form-outline mb-4">
            <label class="form-label fw-bold" for="username">Username: </label>
            <input
              type="username"
              id="username"
              name="username"
              class="form-control form-control-lg"
              placeholder="Create a username"
              required
            />
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label fw-bold" for="password">Password: </label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control form-control-lg"
              placeholder="Create a password"
              required
            />
          </div>
          <% if (registrationError) { %>
            <p class="error-message" style="color: red;"><%= registrationError %></p>
          <% } %>
          <div class="text-center text-lg-start mt-2 pt-2 register-button" style="display: flex; flex-direction: column; align-items: center;">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="width: 40%;"
            >
              Register
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-2">
              Already have an account? <a href="login" class="link-danger">Login here!</a>
            </p>
          </div>
        </form>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
