<div class="sidebar minimised-sidebar">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-header">
      <div class="sidebar-burger-menu">
        <button class="rounded-pill border-0 nav-link px-2 mt-2">
          <i class="fa-solid fa-bars" aria-label="sidebar menu" style="font-size: 1.2rem;"></i>
        </button>
      </div>
      <a href="/">
        <img
          src="/images/FoodHavenLogoPlusWords.png"
          width="180"
          class="ms-2"
          alt="Food Haven"
          style="padding-top: 0px"
        />
      </a>
    </li>
    <li class="nav-item">
      <a href="/" class="nav-link text-dark py-2">
        <i class="fa-solid fa-house" aria-hidden="true"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="leaderboard" class="nav-link text-dark py-2">
        <i class="fa-solid fa-ranking-star" aria-hidden="true"></i>
        <span>Leaderboards</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark py-2">
        <i class="fa-solid fa-heart" aria-hidden="true"></i>
        <span>Likes</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="settings" class="nav-link text-dark py-2">
        <i class="fa-solid fa-gear" aria-hidden="true"></i>
        <span>Settings</span>
      </a>
    </li>
    <hr />
    <li>
      <p
        style="
          font-size: 1rem;
          flex-shrink: 0;
          font-weight: bold;
          padding-left: 15px;
          color: rgb(102, 101, 101);
        "
      >
        Explore by category
      </p>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark py-2">
        <i class="fa-solid fa-drumstick-bite" aria-hidden="true"></i>
        <span>Chicken</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark py-2">
        <i class="fa-solid fa-cow" aria-hidden="true"></i>
        <span>Beef</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark py-2">
        <i class="fa-solid fa-bacon" aria-hidden="true"></i>
        <span>Pork</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark py-2">
        <i class="fa-solid fa-fish" aria-hidden="true"></i>
        <span>Seafood</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark py-2">
        <i class="fa-solid fa-leaf" aria-hiddden="true"></i>
        <span>Vegetarian</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark py-2">
        <i class="fa-solid fa-cake-candles" aria-hidden="true"></i>
        <span>Dessert</span>
      </a>
    </li>
    <li class="nav-item logout">
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">
          <i class="bi bi-door-open-fill"></i>
          <span>Log Out</span>
        </button>
      </form>
    </li>
  </ul>
</div>