body {
  font-family: "Gill Sans", sans-serif;
}

h2 {
  font-weight: 520; /* You can adjust this value as needed */
}


/* Masthead */

#masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1%;
  height: 40px;
}

#masthead h3 {
  font-size: 14px;
  margin: 0;
}

#masthead p {
  font-size: 14px;
  margin: 0;
}

#start {
  display: flex;
  align-items: center;
}

#end{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
#end p{
  font-size: 16px;
}

#end a{
  text-decoration: none;
  color:#035ec0;
}

#end a:hover{
  text-decoration: none;
  color:#c01f03;
}

#tag {
  margin-right: 5px;
}

/* End of Masthead */

/* Banner */

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1.5in;
  padding-bottom: 50px;
}

#bannerHeader {
  text-align: center;
  height: 60%;
}

#bannerSubheader {
  text-align: center;
}

#authorName {
  text-align: center;
}

#bannerHeader p {
  font-size: 40px;
}

#bannerSubheader p {
  font-size: 20px;
}

#authorName p {
  font-size: 15px;
}

/* End of Banner */

/* Settings form */
#settingsForm {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  overflow: auto;
}

/* styling of the settings label */
#settingsForm label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the form inputs */
#settingsForm input[type="text"] {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  resize: none; 
}

/* Style the update button */
#settingsForm button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

#settingsForm button[type="submit"]:hover {
  background-color: #0056b3;
}

/* End of settings form */


/* Draft section */

/* Style the draftArticlesSection */
#draftArticlesSection {
  margin-top: 20px;
}

/* Style the draftArticlesTable */
#draftArticlesTable {
  width: 100%;
  border-collapse: collapse;
}

/* Style the header row */
#draftArticlesTable th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

/* Style the data rows */
#draftArticlesTable td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Style the Actions column */
#draftArticlesTable td:last-child {
  display: flex; /* This will arrange the buttons horizontally */
  gap: 5px;
}

/* Style the buttons */
#draftArticlesTable td:last-child button {
  padding: 5px 10px;
  background-color: #4f5358;
  color: #fff;
  border: none;
  cursor: pointer;
  border: #4f5358;
  border-radius: 3px;
}

#draftArticlesTable td:last-child button:hover {
  
  background-color:  #f0efef;
  color: #4f5358;
  outline: 2px solid #4f5358;
  
}

button#createNewDraft {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #4f5358;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button#createNewDraft:hover {
  background-color:  #f0efef;
  color: #4f5358;
  outline: 2px solid #4f5358;
}

/* End of draft section */

/* published section */

/* Style the publishedArticlesSection */
#publishedArticlesSection {
  margin-top: 20px;
}

/* Style the publishedArticlesTable */
#publishedArticlesTable {
  width: 100%;
  border-collapse: collapse;
}

/* Style the header row */
#publishedArticlesTable th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

/* Style the data rows */
#publishedArticlesTable td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Style the Actions column */
#publishedArticlesTable td:last-child {
  display: flex; /* This will arrange the buttons horizontally */
  gap: 5px;
}

/* Style the buttons */
#publishedArticlesTable td:last-child button {
  padding: 5px 10px;
  background-color: #4f5358;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}


#publishedArticlesTable td:last-child button:hover {
  background-color:  #f0efef;
  color: #4f5358;
  outline: 2px solid #4f5358;
}


/* End of published section */

/* Editing page form */

/* Style the articleEdit container */
.articleEdit-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  overflow: auto;
}

/* Style the form elements */
#articleForm label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

#articleForm input[type="text"],
#articleForm textarea {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  resize: none; 
}

/* Set the minimum height of the textarea to be 2 inches */
#articleBody {
  height: 2in;
  font-family: "Gill Sans", sans-serif;
  
}

/* Style the Update button */
#updateButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

#updateButton:hover {
  background-color: #0056b3;
}

/* End of editing page form */

/* Create new draft page form settings */

/* Style the newArticle container */
.newArticle-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  overflow: auto;
}

/* Style the form elements */
#newArticleForm label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

#newArticleForm input[type="text"],
#newArticleForm textarea {
  width: 95%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
  margin-bottom: 15px;
  resize: none; 
}

/* Set the minimum height of the textarea to be 2 inches */
#newArticleBody {
  height: 2in;
  font-family: "Gill Sans", sans-serif;
  
}

/* Style the Create a new draft button */
#createNewDraftButton {
  margin-top: 70px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

#createNewDraftButton:hover {
  background-color: #0056b3;
}

/* End of create new draft page form settings */

/* reader Homepage */

/* border padding */
#articleSection {
  background-color: rgb(172, 170, 170);
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto; /* Add margin auto to center the element */
}

#articleSection h2 {
  font-weight: bold;
  color: #2d2d2d;
}

/* article-container link */
.article-container {
  display: block;
  background-color: white;
  padding: 7.5px; /* Reduce the padding to decrease height */
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  transition: color 0.3s, background-color 0.3s;
  line-height: 1.2; /* Reduce line height to decrease spacing between words */
}

/* Hover article-container link */
.article-container:hover {
  color: white;
  background-color: rgb(77, 77, 77);
}

.article-container h3,
.article-container h4,
.article-container p {
  margin: 0; /* Remove default margins for h3, h4, and p */
  padding: 0; /* Remove any padding to ensure proper spacing */
}

/* End of reader Homepage */


/* Article page */

#page-manager{
  max-width: 45%;
  margin: 0 auto; 
  align-items: center; 
}

#articleContent .article-title {
  font-weight: 500;
  font-size: 55px;
  margin:0;
}

#articleContent .article-subtitle {
  font-weight: 300;
  font-size: 22px;
}

#articleContent .article-body {
  font-weight: 100;
  font-size: 15px;
}

/* article interaction block */

/* Like button */
button[name="likeButton"] {
  margin-top: 10px; 
  margin-bottom: 20px; 
  padding: 8px 16px; 
  background-color: #f1f1f1cc; 
  color: #202020; 
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #202020; 
}

button[name="likeButton"]:hover {
  background-color: #ff0000; 
  color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
}

/* Interaction block */
#interactionBlock {
  padding: 0 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: auto;
}

/* Style the comment form */
#commentForm {
  display: flex;
  flex-direction: column; /* Arrange items top-to-bottom */
  align-items: flex-end;
}

/* Style the comment textarea */
#commentForm textarea {
  width: 100%; /* Make the textarea occupy the full width */
  height: 1in;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  resize: none;
}

/* Style the like and comment buttons */
#commentForm button[type="submit"] {
  width: 35%;
  margin: 2%;
  padding: 5px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#commentForm button[type="submit"]:hover {
  background-color: #0056b3;
  
}

#commentForm button[type="submit"] {
  float: right;
}


/*End of article interaction block */

/* Comments section */
#commentsSection {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#commentsSection h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.comment-list {
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.comment-list li {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.comment-body {
  font-size: 16px;
  line-height: 1.5;
}

.comment-date {
  font-size: 14px;
  color: #777;
}

.comment-date b {
  font-weight: normal;
  color: #333;
}

/* End of comment section */

/* End of article page */

/* User registration form */
#userblock {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  overflow: auto;
}

/* Styling of the user registration label */
#userblock label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the user registration form inputs */
#userblock input[type="text"],
#userblock input[type="password"] {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  resize: none;
}

/* Style the user registration button */
#userblock button.user-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

#userblock button.user-submit:hover {
  background-color: #0056b3;
}

/* End of user registration form */

/* User redirect link */
/* User redirect link */
#user-redirect {
  margin-top: 15px;
  display: flex; /* Use flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

#user-redirect p {
  font-size: 16px;
  margin: 0 5px; /* Add some margin around the link */
}

#user-redirect a {
  font-size: 16px;
  text-decoration: none;
  color: #007bff;
}

#user-redirect a:hover {
  color: #0056b3;
}
/* End of user redirect link */

/* End of user redirect link */
